---
import { Image } from "@unpic/astro";

interface Props {
  label: string;
  name: string;
  img?: string;
}

const props = Astro.props;

const CDN =
  process.env.PUBLIC_IMGIX_DOMAIN || import.meta.env.PUBLIC_IMGIX_DOMAIN;
---

<div class='w-full h-60 bg-base-300 rounded-box'>
  <img
    id={`${props.name}-preview`}
    src={props.img
      ? CDN + props.img
      : `https://placehold.co/600x400?text=${props.label}`}
    alt={props.label}
    class='h-full w-full object-cover mx-auto rounded-box'
  />
  <!-- {
    props.img && (
      <Image
        src={CDN + props.img}
        id={`${props.name}-preview-storage`}
        layout='constrained'
        class='h-full w-full object-cover mx-auto rounded-box'
      />
    )
  } -->
</div>
