---
import Contact from "../components/Contact.astro";
import Hero from "../components/Hero.astro";
import HeroAlbums from "../components/HeroAlbums.astro";
import HeroVideo from "../components/HeroVideo.astro";
import HeroVideoMobile from "../components/HeroVideoMobile.astro";
import Layout from "../layouts/Layout.astro";
import { getFirestore } from "firebase-admin/firestore";
import { app } from "../utils/firebase/server";
import type { Albums } from "../utils/interfaces/album.type";
import type { Videos } from "../utils/interfaces/video.type";

const db = getFirestore(app);

const albumsRef = db.collection("albums");
const albumsSnapshot = await albumsRef.get();
const albums = albumsSnapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
})) as Albums;

const videosRef = db.collection("videos");
const videosSnapshot = await videosRef.get();
const videos = videosSnapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
})) as Videos;
---

<Layout title='Welcome to Astro.'>
  <div class='max-h-screen snap snap-y snap-mandatory overflow-y-scroll'>
    <section class='snap-center'>
      <Hero
        title='Samuel Freret'
        background='https://picsum.photos/1920/1080?random=1'
        categories={["Photographe", "Vidéaste", "Beau gosse"]}
      />
    </section>
    {
      albums.map((album) => (
        <section class='snap-center'>
          <HeroAlbums album={album} />
        </section>
      ))
    }

    <section class='snap-center hidden lg:block'>
      <HeroVideo videos={videos} />
    </section>
    <section class='snap-center lg:hidden'>
      <HeroVideoMobile videos={videos} />
    </section>
    <section class='snap-center'>
      <Contact />
    </section>
  </div>
</Layout>
