---
import { AstroSeo } from "@astrolib/seo";
import { getFirestore } from "firebase-admin/firestore";
import Hero from "../components/Hero.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import { app } from "../utils/firebase/server";
import type { Projects } from "../utils/interfaces/project.type";
import Contact from "../components/Contact.astro";
import FlipText from "../components/FlipText.astro";

const db = getFirestore(app);

const projectstRef = db.collection("projects");
const projectsSnapshot = await projectstRef.get();
const projects = projectsSnapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
})) as Projects;
---

<AstroSeo
  title='Guilty Vision'
  description='Guilty vision est un studio de production de vidéos et photos.'
  canonical='https://guiltyvision.com/'
  +
  project.id
  openGraph={{
    title: "Guilty vision production",
    description:
      "Guilty vision est un studio de production de vidéos et photos.",
    url: "https://guiltyvision.com/",
    images: [
      {
        url: "https://guiltyvision.com/logo.png",
        width: 1200,
        height: 630,
        alt: "Guilty vision logo",
        type: "image/png",
      },
    ],
    site_name: "Guilty vision production",
  }}
/>
<Layout title='Guilty Vision'>
  <Hero />
  <section class='h-[80vh] flex flex-col items-center justify-center'>
    <div>
      <h2
        class='text-6xl lg:text-8xl text-center text-base-content font-black text-wrap p-4 mb-8 uppercase'
      >
        Samuel Freret
      </h2>
      <FlipText labels={["Monteur", "Post-production", "Réalisation"]} />
    </div>
  </section>
  <section class='py-24'>
    <h2 class='text-3xl lg:text-4xl font-semibold px-4'>
      Sélection de projets
    </h2>
    <div
      class='grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-8 p-2 md:p-4 lg:p-8'
    >
      {
        projects.map((project) => (
          <div class='col-span-1 last:odd:col-span-2'>
            <ProjectCard project={project} />
          </div>
        ))
      }
    </div>
    <Contact />
  </section>
</Layout>
