---
import { getFirestore } from "firebase-admin/firestore";
import { app } from "../../../utils/firebase/server";
import type { Project } from "../../../utils/interfaces/project.type";
import AdminLayout from "../../../layouts/AdminLayout.astro";

const db = getFirestore(app);
const { id } = Astro.params;
const projecttRef = db.doc(`videos/${id}`);
const projectSnapshot = await projecttRef.get();
const project = {
  id: projectSnapshot.id,
  ...projectSnapshot.data(),
} as Project;
---

<AdminLayout title={project.title}>
  <div class='card bg-base-200 container mx-auto overflow-x-auto'>
    {project.title}
  </div>
</AdminLayout>
