---
import { Image } from "@unpic/astro";
import { actions } from "astro:actions";
import AdminLayout from "../../../layouts/AdminLayout.astro";

const result = await Astro.callAction(actions.project.getProjects, {});
if (result.error) {
  console.log(result.error);
  return Astro.redirect("/admin");
}
const projects = result.data;

const CDN =
  process.env.PUBLIC_IMGIX_DOMAIN || import.meta.env.PUBLIC_IMGIX_DOMAIN;
---

<AdminLayout title='Projets'>
  <div class='card bg-base-200 container mx-auto overflow-x-auto'>
    <table class='table'>
      <thead class='text-center font-bold text-lg bg-base-300'>
        <tr>
          <th>Couverture</th>
          <th>Titre</th>
          <th>Vidéo</th>
          <th>Masque</th>
          <th>Brouillon</th>
          <th>
            <a href='projects/new' class='btn btn-outline btn-primary'>
              Ajouter
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {
          projects.map((project) => (
            <tr class='hover:bg-base-300'>
              <th>
                <Image
                  src={CDN + project.image_cover}
                  layout='constrained'
                  priority={true}
                  class='h-10 w-auto mx-auto rounded-md'
                />
              </th>
              <td>{project.title}</td>
              <td>
                <a href={project.video} target='_blank' class='link'>
                  lien vers la vidéo
                </a>
              </td>
              <td>
                <a href={CDN + project.svg_mask} class='link'>
                  <Image
                    src={CDN + project.svg_mask}
                    layout='constrained'
                    priority={true}
                    class='h-10 w-auto mx-auto bg-base-300 rounded-md'
                  />
                </a>
              </td>
              <td>{project.draft ? "Oui" : ""}</td>
              <td>
                <a
                  href={"./projects/" + project.id}
                  data-astro-prefetch='false'
                  class='btn btn-ghost'
                >
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    fill='none'
                    viewBox='0 0 24 24'
                    stroke-width='1.5'
                    stroke='currentColor'
                    class='size-6'
                  >
                    <path
                      stroke-linecap='round'
                      stroke-linejoin='round'
                      d='m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10'
                    />
                  </svg>
                </a>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</AdminLayout>
