---
import ProjectForm from "../../../components/projects/project-form.astro";
import AdminLayout from "../../../layouts/AdminLayout.astro";
---

<AdminLayout title='Nouveau projet'>
  <div class='lg:card lg:bg-base-200 mx-auto overflow-x-auto lg:max-w-5xl'>
    <diV class='lg:card-body'>
      <form class='flex flex-col gap-4'>
        <ProjectForm />
        <button type='submit' class='btn btn-primary mt-10'>Enregistrer</button>
      </form>
    </diV>
  </div></AdminLayout
>

<script>
  import { actions } from "astro:actions";
  import {
    generatePath,
    uploadFiles,
    uploadVideo,
  } from "../../../utils/upload";
  import { navigate } from "astro:transitions/client";

  const form = document.querySelector("form");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const svg_mask = formData.get("svg_mask") as File;
    const image_cover = formData.get("image_cover") as File;
    const video = formData.get("video") as File;
    formData.set("image_cover", "");
    formData.set("svg_mask", "");
    formData.set("video", "");

    const { data, error } = await actions.project.createProject(formData);
    if (error || !data) {
      console.log(error);
      return;
    }
    console.log(`Project created with id ${data}`);

    if (!image_cover || !svg_mask || !video) {
      console.log("Missing image_cover, svg_mask or video");
      return;
    }

    const files = [
      { path: generatePath(data, image_cover), file: image_cover },
      { path: generatePath(data, svg_mask), file: svg_mask },
    ];
    const filePaths = await uploadFiles(files);

    const videoPath = generatePath(data, video);

    uploadVideo(videoPath, video, (videoURL: string) => {
      updateProject(data, videoURL);
    });

    async function updateProject(id: string, videoURL: string) {
      const { data, error } = await actions.project.updateProjectWithoutForm({
        id,
        image_cover: filePaths[0].ref.fullPath,
        svg_mask: filePaths[1].ref.fullPath,
        video: videoURL,
      });
      if (error || !data) {
        console.log(error);
        return;
      }
      console.log(`Project updated with id ${data}`);
      navigate("/admin/projects");
    }
  });
</script>
