---
import GlitchedLabel from "./GlitchedLabel.astro";
---

<footer class='footer footer-center bg-base-300 text-base-content p-4'>
  <aside>
    <p>
      Copyright © {new Date().getFullYear()} - Tous droits réservés - Guilty vision
      <br />
      Développé par <a href='https://geeckosama.com'
        ><GlitchedLabel label='GeeckoSama' /></a
      >
    </p>
  </aside>
</footer>
