---
import type { Videos } from "../utils/interfaces/video.type";
import { Image } from "@unpic/astro";

interface Props {
  videos: Videos;
}

const cdn = import.meta.env.PUBLIC_IMGIX_DOMAIN;
const { videos } = Astro.props;
---

<div class='h-screen flex flex-col items-center justify-center space-y-10'>
  <h2 class='text-5xl lg:text-7xl font-extrabold text-zinc-950'>Clips vidéo</h2>
  <ul class='container'>
    {
      videos.map((video) => {
        return (
          <li class='relative border-t-2 border-zinc-950 last-of-type:border-b-2 py-1'>
            <a
              href={"/videos/" + video.id}
              class='group flex flex-row justify-center items-center group-grow-on-hover'
            >
              <span class='text-3xl lg:text-7xl font-extrabold text-zinc-950 uppercase'>
                {video.title.slice(0, Math.round(video.title.length / 2))}
              </span>
              <Image
                src={cdn + video.image_cover}
                layout='fixed'
                height={96}
                width={192}
                alt={video.title}
                class='rounded shadow h-24 grow-on-hover'
              />
              <span class='text-3xl lg:text-7xl font-extrabold text-zinc-950 uppercase'>
                {video.title.slice(
                  Math.round(video.title.length / 2),
                  video.title.length
                )}
              </span>
            </a>
          </li>
        );
      })
    }
  </ul>
</div>

<script>
  import { gsap } from "gsap";
  const links = document.querySelectorAll(".group-grow-on-hover");
  const images = document.querySelectorAll(".grow-on-hover");
  images.forEach((image) => {
    gsap.to(image, { width: 0, duration: 0 });
  });
  links.forEach((link, index) => {
    link.addEventListener("mouseenter", () => {
      gsap.fromTo(
        images[index],
        {
          width: 0,
          marginLeft: 0,
          marginRight: 0,
        },
        {
          width: 192,
          marginLeft: "1rem",
          marginRight: "1rem",
          duration: 0.5,
          ease: "power4.out",
        }
      );
    });
    link.addEventListener("mouseleave", () => {
      gsap.fromTo(
        images[index],
        {
          width: 192,
          marginLeft: "1rem",
          marginRight: "1rem",
        },
        {
          width: 0,
          marginLeft: 0,
          marginRight: 0,
          duration: 0.4,
          ease: "power4.in",
        }
      );
    });
  });
</script>
