---
import type { Album } from "../utils/interfaces/album.type";
import { Image } from "@unpic/astro";

interface Props {
  album: Album;
}

const cdn =
  process.env.PUBLIC_IMGIX_DOMAIN || import.meta.env.PUBLIC_IMGIX_DOMAIN;
const { album } = Astro.props;
---

<div class='h-screen relative hero'>
  <Image
    src={cdn + album.covers![0]}
    layout='constrained'
    placeholder='blurhash'
    height={1080}
    width={1920}
    class='h-full w-auto object-cover lg:scale-75 lg:shadow-2xl lg:rounded lg:border-8 lg:border-white img-in'
    alt=''
  />
  <div class='absolute inset-0 w-full h-full'>
    <div
      class='sticky top-[85%] mt-[50%] lg:mt-[10%] mb-[20%] lg:mb-[10%] px-0 lg:px-12'
    >
      <div
        class='bg-white/80 lg:bg-white/60 backdrop-blur-xl lg:rounded shadow-md max-w-lg p-4 lg:hover:bg-white/90 transition-colors'
      >
        <h2 class='text-4xl lg:text-5xl text-zinc-900 font-bold mb-4 lg:mb-8'>
          {album.title}
        </h2>
        <p class='text-zinc-900 font-base leading-8'>{album.description}</p>
        <div class='flex justify-center lg:justify-end mt-4 lg:mt-8'>
          <a
            href={`/albums/${album.id}`}
            class='px-1.5 py-0.5 border-zinc-950 border-2 text-lg font-bold text-zinc-950 rounded hover:bg-zinc-950 hover:text-zinc-50 transition-colors cursor-pointer'
            >Voir l'album</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  const container = document.querySelector(".hero");
  const img = document.querySelector(".img-in");

  if (container && img) {
    const context = gsap.context(() => {
      gsap.registerPlugin(ScrollTrigger);
      gsap
        .timeline({
          scrollTrigger: {
            trigger: container,
            start: "top bottom",
            end: "bottom top",
            scrub: true,
          },
        })
        .fromTo(
          img,
          { opacity: 0, filter: "blur(25px)" },
          { opacity: 1, filter: "blur(0)", ease: "power4.in" }
        );
    });
  }
</script>

<!-- <style>
  @keyframes img-reveal {
    from {
      filter: blur(25px);
      opacity: 0;
    }
    to {
      filter: blur(0);
      opacity: 1;
    }
  }

  .img-reveal {
    animation: img-reveal ease-in forwards;
    animation-timeline: scroll(root block);
    animation-range: entry 0% entry 25%;
  }
</style> -->
