---
import { Image } from "@unpic/astro";

const cdn =
  process.env.PUBLIC_IMGIX_DOMAIN || import.meta.env.PUBLIC_IMGIX_DOMAIN;
---

<div
  class='fixed inset-x-0 top-0 bg-transparent bg-opacity-0 flex flex-1 justify-between items-center p-2 z-40'
>
  <div></div>
  <div class='flex justify-center space-x-2 grow'>
    <a href='/'>
      <Image
        src={cdn + "logo.png"}
        width={80}
        height={48}
        layout='fixed'
        class='h-12 w-20'
        alt='Guilty vision logo'
      />
    </a>
  </div>
  <div></div>
</div>
