---
import { Image } from "@unpic/astro";

const cdn =
  process.env.PUBLIC_IMGIX_DOMAIN || import.meta.env.PUBLIC_IMGIX_DOMAIN;
---

<div
  class='fixed inset-x-0 top-0 bg-transparent bg-opacity-0 flex flex-1 justify-between items-center p-2 z-40'
>
  <div></div>
  <div class='flex justify-center space-x-2 grow'>
    <a href='/'>
      <Image
        src={cdn + "logo.png"}
        width={400}
        height={240}
        layout='fixed'
        priority={true}
        class='logo object-contain'
        alt='Guilty vision logo'
      />
    </a>
  </div>
  <div></div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  const container = document.querySelector("main");
  const logo = document.querySelector(".logo");

  if (container && logo) {
    const context = gsap.context(() => {
      gsap.registerPlugin(ScrollTrigger);
      gsap
        .timeline({
          scrollTrigger: {
            trigger: container,
            start: "top top",
            end: "+=100%",
            scrub: true,
          },
        })
        .fromTo(
          logo,
          { scale: 1, translateY: "100%" },
          { scale: 0.2, translateY: "-40%" }
        );
    });
  }
</script>

<!-- <style>
  @keyframes logo-shrink {
    from {
      transform: scale(1) translate(0, 100%);
    }
    50% {
      transform: scale(0.5) translate(0, 100%);
    }
    to {
      transform: scale(0.2) translate(0, -200%);
    }
  }

  .logo {
    animation: logo-shrink ease-in forwards;
    animation-timeline: scroll(root block);
    animation-range: entry 0% entry 20%;
  }
</style> -->
