---
import { Image } from "@unpic/astro";
import type { Project } from "../utils/interfaces/project.type";

interface Props {
  project: Project;
}

const cdn =
  process.env.PUBLIC_IMGIX_DOMAIN || import.meta.env.PUBLIC_IMGIX_DOMAIN;

const { project } = Astro.props;
---

<a
  href={`/projects/${project.id}`}
  data-astro-prefetch
  class='card bg-base-200 xs:image-full w-full shadow-md hover:shadow-xl transition-all scale-95 hover:scale-100 ease-in duration-200'
>
  <figure>
    <Image
      src={cdn + project.image_cover}
      layout='fullWidth'
      alt={"Couverture du projet " + project.title}
      class='w-auto h-[512px] object-cover object-center'
    />
  </figure>
  <div class='card-body'>
    <h2 class='card-title text-2xl lg:text-5xl font-bold uppercase'>
      {project.title}
    </h2>
  </div>
</a>
