---
const gallery = [
  [1, 2, 3, 4, 13, 14],
  [5, 6, 7, 8, 15, 16],
  [9, 10, 11, 12, 17, 18],
];
---

<div class='columns'>
  {
    gallery.map((col, index) => {
      return (
        <div class={index % 2 === 0 ? "column" : "column column-reverse"}>
          {col.map((row) => {
            return (
              <div class='rounded shadow-md flex flex-col gap-4 p-4 hover:shadow-xl transition-shadow ease-in-out'>
                <img
                  src={"https://picsum.photos/1920/1080?random=" + row}
                  alt=''
                  class='h-full w-auto object-cover rounded'
                />
                <p class='text-lg font-semibold'>Title {row}</p>
              </div>
            );
          })}
        </div>
      );
    })
  }
</div>

<style>
  @keyframes adjust-position {
    /* Start position: shift entire column up, but not so that it goes out of view */
    from {
      transform: translateY(calc(-100% + 100vh));
    }

    /* End position: shift entire column down, but not so that it goes out of view */
    to {
      transform: translateY(calc(100% - 100vh));
    }
  }

  .columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: hidden;
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
    position: relative;
    gap: 4rem;
  }

  .column {
    display: flex;
    flex-direction: column;
    padding: 10vh 0;
    gap: 4rem;
  }

  .column-reverse {
    transform: translateY(calc(-100% + 100vh));
    flex-direction: column-reverse;
  }

  .column-reverse {
    transform: translateY(calc(-100% + 100vh));
    animation: adjust-position linear forwards;
    animation-timeline: scroll(root block);
  }
</style>
