---
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang='fr'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/ico' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <link rel='sitemap' href='/sitemap-index.xml' />
  </head>
  <body>
    <main class='bg-base-100'>
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "CabinetGrotesk-Variable";
    src: url("/fonts/CabinetGrotesk-Variable.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
